@inherits LayoutComponentBase

<nav class="navbar shadow mb-8">
    <div class="container mx-auto">
        <div class="flex justify-between items-center">
            <div class="text-xl font-bold mr-4">Paper of the week</div>
            <div class="flex space-x-4">
                <a href="/" class="text-blue-600">Home</a>
                <a href="/Account/Logout" class="text-blue-600">Sign Out</a>
            </div>
        </div>
    </div>
</nav>

@Body
