@inherits LayoutComponentBase

<nav class="navbar">
    <div class="container mx-auto">
        <div class="flex justify-between items-center">
            <div class="text-xl font-bold">Ped8c</div>
            <div class="flex space-x-4">
                <a href="/" class="text-blue-600">Home</a>
                <a href="/Account/Logout" class="text-blue-600">Sign Out</a>
            </div>
        </div>
    </div>
</nav>

@Body
